.pofol-section{
  border: 2px solid red;
}

.portfolio {
  display: flex;
  border: 2px solid green;
}

.portfolio > div {
  margin: 5%;
  border: 2px solid blue;
}

.portfolio > div > .banner > img{
  width: 480px;
  border-radius: 10px;
  border: 2px solid gold;
}

.work-text{
  border: 2px solid deeppink;
}

.work-text > div {
  display: flex;
  justify-content: center;
  border: 2px solid lightseagreen;
}

.work-text > div:first-child {
  display: flex;
  flex-direction: column;
  padding: 10px;
  background-color: lightyellow;
}

.work-text > div:first-child > span{
  border: 2px solid red;
}

.work-text > div:first-child > h1{
  text-align: center;
  border: 2px solid red;
}

.underline {
  width: 200px;
  height: 7px;
  background-image: linear-gradient(to right, #FFCAC9, #737DFE);
}

.work-text > div:last-child {
  padding: 0 10px;
}

.work-text > div:last-child > div {
  border: 2px solid orange;
}

.work-text > div:last-child > div > a{
  width: 180px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  border: 2px solid lightgreen;
}