/*normalize*/
html {
  overflow-y: hidden;
}

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

canvas {
  width: var(--site-width);
}

/*library*/

:root {
  --site-width: 1920px;
}

.con {
  width: var(--site-width);
}

.con-min-width {
  min-width: var(--site-width);
}