/* nomalize */

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}

a {
  text-decoration: none;
  color: inherit;
}

.con {
  margin-left: auto;
  margin-right: auto;
}


/*library*/

:root {
  --site-width: 1900px;
}

.con {
  width: var(--site-width);
}

.con-min-width {
  min-width: var(--site-width);
}


/*custom*/

.web-img-drop {
  text-align: center;
}

.web-img-drop>section>img {
  width: 1000px;
}