
/* nomalize */

body, ul, li{
list-style: none;
padding: 0;
margin: 0;
background-image: linear-gradient(to bottom, #dfe9f3 0%, white 100%);
}

a{
text-decoration: none;
color: #393939;
}

.con{
margin-left: auto;
margin-right: auto;
}


/*library*/

:root{
--site-width: 1900px;
}

.con{
width: var(--site-width);
}

.con-min-width{
min-width: var(--site-width);


/*custom*/


.web-img-drop {
  border: 2px solid red;
  display: flex;
  flex-direction: column;
}

.web-img-drop > section {
  display: flex;
  flex-direction: column;
}

.web-img-drop > section > img{
  display: flex;
  align-self: center;
  width: 900px;
}