/* nomalize */

body,
ul,
li {
  list-style: none;
  padding: 0;
  margin: 0;
  background-image: linear-gradient(to bottom, #dfe9f3, white);
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 34pt;
}

.con {
  margin-left: auto;
  margin-right: auto;
}

/*library*/

:root {
  --site-width: 1920px;
}

.con {
  width: var(--site-width);
}

.con-min-width {
  min-width: var(--site-width);
}

/*custom*/

.web-img-drop {
  text-align: center;
}

.web-img-drop>section {
  margin-top: 4%;
}

.web-img-drop>section>h2 {
  margin-top: 3%;
}

.web-img-drop>section>.text {
  margin-top: -3%;
}


.web-img-drop>section>.mockup {
  width: 1000px;
}

.web-img-drop>.section-footer {
  height: 500px;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.web-img-drop>.section-footer> h1 {
  position: absolute;
  color: white;
}

.web-img-drop>.section-footer>.logo-ft {
  width: 300px;
}